@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4taVIGxA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body{
    background:#e3e3e3;
    font-family:'Open Sans', 'Calibri', sans-serif;
}
div.main{
    width:920px;
    border:1px solid grey;
    padding:10px;
}
div.mainWrapper{
    display:flex;
    justify-content: center;
}

.mainPageHeader{
    display:flex;
    justify-content: center;
}
div.main > h1{
    text-align: center;
}
div.finishedDish img{
    height:200px;
    width:250px;
}
