body{
    background:#e3e3e3;
}
div.main{
    width:920px;
    border:1px solid grey;
    padding:10px;
}
div.mainWrapper{
    display:flex;
    justify-content: center;
}

.mainPageHeader{
    display:flex;
    justify-content: center;
}
div.main > h1{
    text-align: center;
}
div.finishedDish img{
    height:200px;
    width:250px;
}